<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  
    <script src="module.js"></script>
    <!-- <script src="route.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body >
    <div  ng-app="mainApp"ng-controller="crudController" >
        <table>
            <tr>
                <td>Id</td>
                <td>{{Id}}</td>
            </tr>
            <tr>
                <td>First_Name</td>
                <td><input type="text" ng-model="First_Name"></td>
            </tr>
            <tr>
                <td>Last_Name</td>
                <td><input type="text" ng-model="Last_Name"></td>
                
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" ng-model="Email"></td>
            </tr>
            <tr>
                <td>Role</td>
                <td><input type="text" ng-model="Role"></td>
            </tr>
            <tr>
                <td><input type="button" ng-click="AddData()" value="save Data"></td>
                <td><input type="button" ng-click="UpdateData()" value="Update Data"></td>
            </tr>
        </table>
   
        <table class="bg-dark text-white table-strip table-responsive table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First_Name</th>
                    <th>Last_Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>
                   
                    <tr  ng-click="BindSelectedData(Emp)" ng-repeat="Emp in EmpList">
                        <td>{{Emp.Id}}</td>
                        <td>{{Emp.First_Name}}</td>
                        <td>{{Emp.Last_Name}}</td>
                        <td>{{Emp.Email}}</td>
                        <td>{{Emp.Role}}</td>
                       
                        <td>
                            <input type="button" value="Delete" ng-click="DeleteData(Emp)">
                            
                        </td>
                    </tr>
        </table>
   
        </div>


    
</body>
</html>