<div ng-controller="crud-controller">
    <table>
        <tr>
            <td>First_Name</td>
            <td><input type="text" ng-model="FIrst_Name"></td>
        </tr>
        <tr>
            <td>Last_Name</td>
            <td><input type="text" ng-model="First_Name"></td>
            
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" ng-model="Email"></td>
        </tr>
        <tr>
            <td>Role</td>
            <td><input type="text" ng-model="role"></td>
        </tr>
        <tr>
            <td><input type="button" ng-click="AddData()" value="save Data"></td>
            <td><input type="button" ng-click="UpdateData()" value="Update Data"></td>
        </tr>
    </table>
</div>