<h2 style="color: red;
font-size: 3em;">Employee Page</h2>
<div ng-controller="list_ctrl">
    <table class="table table-hover bg-dark text-white table-strip table-responsive table-bordered">
        <thead>
            <tr>
                <th>First_Name</th>
                <th>Last_Name</th>
                <th>Email</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            <tbody>
                <button class="">Edit</button>
                <tr ng-repeat="emp in employees">
                    <td>{{emp.firstname}}</td>
                    <td>{{teacher.lastname}}</td>
                    <td>{{teacher.email}}</td>
                    <td>{{teacher.title}}</td>
                    <td>
                        <button class="">Edit</button>
                        <button class="">Delete</button>
                        <button class="">Edit</button>
                    </td>
                </tr>
            </tbody>
        </thead>
        
    </table>
</div>